
$padding: 10px;

.container {
  border: 1px outset red;
  text-align: left;
  padding-top: $padding;
  padding-left:$padding;
  padding-bottom: $padding;
}
.container1 {
  @extend.container;
  margin-left:auto;
  margin-right:auto;
}

.contaniner2 {
  @extend.container;
  background-color: #ffff99;
  
}


