
$padding: 10px;

.container {
  text-align: left;
  padding-top: $padding;
  padding-left:$padding;
  padding-bottom: $padding;
  display:block;
}
.container1 {
  @extend.container;
  margin-left:auto;
  margin-right:auto;
}

.container2 {
  @extend.container;
  background-color: #ffff99;
  border: 1px outset red;
  
}


